// colors
$colors: (
  // shades
  --global: (
    // shade - value
    -white: #fff,
    -silver:#C2BFBA,
    -grey: #9E9B96,
    -sea-blue: #79D6C4,
    -sea: #4EAB99,
    -blue-green: #097A62,
    -dark-blue: #263039,
  ),
  // shades
  --accent: (
    // shade - value
    -red: #ff685b,
    -blue: #00c1ff,
    -yellow: #ffd200,
  ),
);